.storageBank {
  background: rgba(240, 99, 184, 0.15);
  border-radius: 3.125rem;
  width: fit-content;
  margin: 1rem auto;
}

.storageBank img {
  max-width: 100%;
}

.storageBank p {
  line-height: 160%;
  color: var(--color-1);
}

@media screen and (min-width: 768px) {
  .storageBank {
    display: flex;
    align-items: center;
    width: 70%;
    margin: 15vh auto;
  }

  .storageBank__right {
    padding: 0 7vw;
  }
}

@media screen and (max-width: 768px) {
  .storageBank {
    /* display: flex; */
    text-align: center;
    margin: 2rem;
    padding: 1rem 2rem;
  }
}
