.features {
  text-align: center;
  margin: 7vh 0;
  padding: 0 7vw;
}

.features__grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: fit-content;
  margin: 3rem auto;
}

@media screen and (min-width: 768px) {
  .features > p {
    max-width: 40%;
    margin: auto;
  }
  .features__grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
}
